<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body ng-app="basic">

        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="scripts/my-app/app.js"></script>
        <script type="text/javascript" src="scripts/controllers/controllers.js"></script>
        
        <div ng-controller="loadingCtrl">

            <div class="submitted-successfully" ng-show="sumbitPage">
                <h1>Your form as been successfully submitted</h1>
            </div>

            <div class="wrapper">

                <header class="contact-us">
                    <h1>Contact Us</h1>
                </header>

                <form ng-submit="submit(user)">
                    <div class="name">
                        <p>Name</p>
                        <input type="text" class="sminput-box" ng-model="userName" placeholder="First Name" name="Name">
                        <div ng-show="noName">Name cannot be left empty</div>
                    </div>

                    <div class="email">
                        <p>Email</p>
                        <input type="email" class="sminput-box" ng-model="userEmail" placeholder="Email" name="Email">
                        <div ng-show="noEmail">Email cannot be left empty</div>
                        <div ng-show="noAtSymbol">Email must contain an '@'</div>
                    </div>
                    
                    <div class="website">
                        <p>Website</p>
                        <input type="text" class="sminput-box" ng-model="user.website" placeholder="Website" name="Website">
                        <div ng-show="noWebsite">Website cannot be left empty</div>
                        <div ng-show="noHttp">Website must start with http://</div>
                    </div>

                    <div class="message">
                        <p>Message</p>
                        <input type="text" class="lginput-box" ng-model="user.message" placeholder="A friendly message..." name="Message">
                        <div ng-show="noMessage">Message cannot be left empty</div>
                    </div>

                    <button class="submit-button" ng-click="submitForm()">Submit</button>
                </form>  

            </div>

        </div>

        <!-- ng-bind acts as a template that goes between element tags -->

    

        
    </body>
</html>